body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav-link{
  margin-left: 40px;
}
p{
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 15px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;    
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}
.founder-img{
  margin-bottom: 10px;
  max-width: 100%;
}
div {
  display: block;
  unicode-bidi: isolate;
}
.button.button-blue[data-v-4425d0ea], button.button-blue[data-v-4425d0ea] {
  color: #fff;
  background: #387ed1;
  border-color: #387ed1;
}
.button[data-v-4425d0ea], button[data-v-4425d0ea] {
  background: #9b9b9b;
  color: #fff;
  padding: 5px 20px;
  border-radius: 2px;
  border: 1px solid #9b9b9b;
  font-weight: 400;
  font-size: .825rem;
  letter-spacing: .5px;
  display: inline-block;
  cursor: pointer;
}


button {
  padding: 10px 30px !important;
  font-family: Inter, serif;
}
.landing_subheading{
  font-size: 1.25rem;
  font-weight: 400;
  margin-top: 10px;
}
#support{
  background-color: rgb(56, 126, 209);
  color: white;
}
#supportwrapper{
  display:flex;
  justify-content: space-between;
  margin: 0 150px;
}
#support input{
  padding: 20px 30px;
  width: 100%;
  font-size: 20px;
  border-radius: 10px;
  border: none;
}
.container p-5{
  margin-top: 100px;
}